@tailwind base;
@tailwind components;
@tailwind utilities;

.grecaptcha-badge {
  visibility: hidden;
}

* {
  scroll-behavior: smooth;
}

.small-screen {
  @media screen and (max-height: 500px) {
    display: none;
  }
}

body {
  overscroll-behavior: none;

  &::-webkit-scrollbar {
    width: 10px;
    /* background-color: #d9d9d91f; /* Matches the theme */
    background-color: #333;
  }

  &::-webkit-scrollbar-thumb {
    /* background-color: #3c84c7; /* Matches the theme */
    background-color: #666;
    border-radius: 5px;
  }
}
